{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/traverse.css" %}" >

    <title>Traverse exercises</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script>
      // Script tag #2
    </script>
  </head>

  <body>



    <div class="container">

      <div class="starter-template">
        <h1>Traverse exercise</h1>
          <div class="row">
            <div class="col-md-6">
              <h3>Picture #1</h3>
              <div id="picture_1" >
                <div id="start_6" class="section_1">

                  <!-- Row 1 -->
                  <div class="row_1">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel " ></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 2 -->
                  <div class="row_2">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap" ></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 3 -->
                  <div class="row_3">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color" ></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 4 -->
                  <div class="row_4">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_1"></div>
                    <div class="pixel spot_1" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 5 -->
                  <div class="row_5">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel spot_2"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_1"></div>
                    <div class="pixel spot_1" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 6 -->
                  <div class="row_6">
                    <div class="pixel "></div>
                    <div class="pixel cap"></div>
                    <div class="pixel spot_2"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_3"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 7 -->
                  <div class="row_7">
                    <div class="pixel "></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap" ></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_3"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div id="start_7" class="section_2">
                  <!-- Row 8 -->
                  <div class="row_8">
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div id="cap_pixel_1" class="pixel"></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div id="cap_pixel_2" class="pixel">
                      <div id="start_5"></div>
                    </div>
                    <div class="pixel head"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 9 -->
                  <div class="row_9">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 10 -->
                  <div class="row_10">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 11 -->
                  <div class="row_11">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head" ></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>

                  <!-- Row 12 -->
                  <div class="row_12">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel" ></div>
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <h3>Picture #2</h3>


              <div id="picture_2" class="out_of_bounds">
                <!-- Row 1 -->
                <div id="reveal_2" class="row_1">
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                </div>
                <div id="reveal_1" class="reveal_section">
                  <!-- Row 2 -->
                  <div class="row_2">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel left_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel right_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 3 -->
                  <div class="row_3">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel left_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel">
                      <div id="reveal_4"></div>
                    </div>
                    <div class="pixel"></div>
                    <div class="pixel right_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div class="reveal_section">
                  <!-- Row 4 -->
                  <div id="reveal_5" class="row_4">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel">
                      <div id="reveal_3"></div>
                    </div>
                    <div id="reveal_10" class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 5 -->
                  <div class="row_5">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien "></div>
                    <div id="left_eye" class="pixel eye "></div>
                    <div class="pixel upper_left_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div id="right_eye" class="pixel eye "></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 6 -->
                  <div class="row_6">
                    <div class="pixel"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 7 -->
                  <div class="row_7">
                    <div class="pixel"></div>
                    <div class="pixel left_leg  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel right_leg  alien"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div id="reveal_8" class="reveal_section">
                  <!-- Row 8 -->
                  <div id="reveal_9" class="row_8">
                    <div class="pixel"></div>
                    <div class="pixel left_leg  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel right_hand  alien">
                      <div ></div>
                    </div>
                    <div class="pixel "></div>
                    <div class="pixel right_leg alien"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 9 -->
                  <div class="row_9">
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel ">
                      <div>
                        <div id="reveal_7"></div>
                      </div>
                    </div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel right_hand  alien"></div>
                    <div class="pixel right_hand  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <!-- Row 10 -->
                <div id="reveal_6" class="row_10">
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                </div>
              </div>
            </div>
          </div>









      </div>

    </div><!-- /.container -->

    <script>
      // Script tag #1
    </script>

  </body>
</html>
